.keyboard {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    justify-content: space-evenly;
    gap: .5rem;
}

.btn {
    width: 100%;
    border: 3px solid white;
    border-radius: 5px;
    background: hsl(0, 0%, 23%);
    aspect-ratio: 1 / 1;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
  }
  
  .btn.yellow {
    background-color: rgb(181,159,59);
    color: white;
  }

  .btn.yellow:hover:not(.disabled),
  .btn.yellow.focus:not(.disabled) {
    background-color: rgb(136, 119, 45)
  }

  .btn.green {
    background-color: rgb(83,141,78);
    color: white;
  }

  .btn.green:hover:not(.disabled),
  .btn.green.focus:not(.disabled) {
    background-color: rgb(56, 94, 52)
  }
  
  .btn.inactive {
    background-color: hsl(0, 0%, 15%);
    border: 3px solid hsl(0, 0%, 25%);
    color: hsl(0, 0%, 25%);
  }


.btn.disabled{
  background-color: hsl(0, 0%, 15%);
  border: 3px solid hsl(0, 0%, 25%);
  color: hsl(0, 0%, 25%);
  cursor: not-allowed
}
  
.btn:hover:not(.yellow):not(.green):not(.disabled),
.btn:focus:not(.yellow):not(.green):not(.disabled) {
  background-color: hsl(0, 0%, 66%);
}